body {
    background-color: hsl(30, 38%, 92%);
   
   
}
.container {
    width: 45%;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
    display: flex; 
    
}
img {
    width: auto;
    height: 500px;
    border-radius: 10px 0 0 10px;
}
.principal {
    margin-left: 5%;
    margin-top: 5%;
}
h2 {
    color: green;
}
button {
    width: 120%;
    height: 10%;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    

}
